.activityTitle { color: black; font-size: 110% }
.dataValue {font-weight: bold }
li {list-style: none; padding: 1px }
#report ul { margin-top: 0; margin-bottom: 0px; font-size: 10pt; }
#report {padding: 0;}

.correct {color: #090;}
.incorrect {color: #C00;}
.interactions {margin-left: 10px; margin-top: 10px;}
.activity-details {margin-left: 10px; padding: 4px; border-top: 1px solid gray; border-bottom: 1px solid gray;}


#report ul li {
	border-bottom: 1px solid #ccc;
	list-style: none;
}

#report ul ul li {
	cursor: pointer;
	background-color: #f2f2f2;
	color: blue;
	font-weight: normal;
}

#report ul ul li:hover {
	cursor: pointer;
	background-color: #f2f2f2;
	color: darkblue;
	text-decoration: underline;	
}

.rpt_details 
{
	padding: 10px; border: 1px solid gray;
}

.rpt_objectives 
{
	padding-top: 15px;
	padding-bottom: 10px;
 	float: left;
 	width: 45%;
}

.rpt_interactions
{
	padding-top: 15px;
	padding-bottom: 10px;
 	float: right;
 	width: 45%;
}

/* Color codes for status circles (&bull; bullets) */
.true { color: green;}
.false { color: red;}
.unknown {color: lightgray;}